<footer
  class="text-center text-lg-start text-white mt-5"
  style="background-color: rgb(33, 37, 41)"
>
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">FOOTER CONTENT</h5>

          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae
            modi cum ipsam ad, illo possimus laborum ut reiciendis obcaecati.
            Ducimus, quas. Corrupti, pariatur eaque? Reiciendis assumenda iusto
            sapiente inventore animi?
          </p>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase" style="text-align: center">Links</h5>

          <ul class="list-unstyled mb-0" style="text-align: center">
            <li>
              <a routerLink="/home" class="text-white">Home</a>
            </li>
            <li>
              <a routerLink="/shop" class="text-white">Shop</a>
            </li>
            <li>
              <a routerLink="/about" class="text-white">About</a>
            </li>
            <li>
              <a routerLink="/products" class="text-white">Products</a>
            </li>
            <li>
              <a routerLink="/blog" class="text-white">Blog</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4">
          <section class="">
            <p class="d-flex justify-content-right align-items-center">
              <span class="me-3">Register for free</span>
              <button
                type="button"
                class="btn btn-outline-light btn-rounded"
                (click)="authNav()"
              >
                Sign up!
              </button>
            </p>
          </section>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->

    <hr class="mb-4" />

    <!-- Section: Social media -->
    <section class="mb-4 text-center">
      <!-- Facebook -->
      <a
        class="btn btn-outline-light btn-floating m-1"
        href="https://www.facebook.com/paducahcoffeecompany/"
        role="button"
        ><i class="fab fa-facebook"></i
      ></a>

      <!-- Twitter -->
      <a
        class="btn btn-outline-light btn-floating m-1"
        href="https://twitter.com/paducahcoffee"
        role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a
        class="btn btn-outline-light btn-floating m-1"
        href="https://www.google.com/maps/place/Paducah+Coffee+Co./"
        role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a
        class="btn btn-outline-light btn-floating m-1"
        href="https://www.instagram.com/paducahcoffeeco/"
        role="button"
        ><i class="fab fa-instagram"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgb(20, 22, 24)">
    © 2022 Copyright:
    <a class="text-white" href="https://github.com/sporkupine/">Sporkupine</a>
  </div>
  <!-- Copyright -->
</footer>
