<div class="container">
  <div class="row">
    <div class="h3">
      Your Cart
    </div>
  </div>
  <div class="row" *ngFor="let product of cart; let i = index">
    <h6>{{product.name}}</h6>
    <p>{{product.price}}</p>
    <div class="d-grid gap-2 d-md-block">
      <button
      class="btn btn-danger"
      (click)="onDeleteFromCart(i)"
      style="border-radius: 3px;"
      >Remove</button>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="d-grid gap-2 d-md-block">
      <button
      class="btn btn-outline-info"
      (click)="onCheckout()" [disabled]="this.cart.length == 0">Checkout</button>
    </div>
  </div>
</div>
