<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-offset-3">
      <h3>Log in or Sign Up!</h3>
      <h5>
        Save your favorites, sign up for a subscription, and be on the lookout
        for our e-mail newsletter for news and discounts!
      </h5>
      <hr />
      <div class="signup" *ngIf="!loginMode && !loading">
        <form
          #authForm="ngForm"
          (ngSubmit)="onSubmit(authForm)"
          [mustMatch]="['password', 'passwordConfirm']"
        >
          <div class="form-group">
            <label for="email">Email:</label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              ngModel
              required
              email
              placeholder="E-mail Address"
              #email="ngModel"
            />
            <span class="help-block" *ngIf="email.invalid && email.touched">
              Please enter a valid e-mail address.</span
            >
          </div>

          <div class="form-group">
            <label for="password">Password:</label>
            <input
              class="form-control"
              type="password"
              id="password"
              name="password"
              ngModel
              required
              minlength="6"
              #password="ngModel"
            />
            <span
              *ngIf="password.invalid && password.touched"
              class="help-block"
              >Password must be at least six characters in length.</span
            >
          </div>
          <div class="form-group">
            <label for="passwordConfirm">Confirm Password:</label>
            <input
              type="password"
              id="passwordConfirm"
              name="passwordConfirm"
              ngModel
              class="form-control"
              #passwordConfirm="ngModel"
              required
            />
            <span
              class="help-block"
              *ngIf="passwordConfirm.touched && passwordConfirm.invalid"
            >
              Passwords must match.
            </span>
          </div>
          <br />
          <div>
            <button
              class="btn btn-primary"
              id="submitButton"
              type="submit"
              [disabled]="authForm.invalid"
            >
              Sign Up
            </button>
          </div>
        </form>
      </div>
      <div class="login" *ngIf="loginMode && !loading">
        <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
          <div class="form-group">
            <label for="email">Email:</label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              ngModel
              required
              email
              placeholder="E-mail Address"
              #email="ngModel"
            />
            <span class="help-block" *ngIf="email.invalid && email.touched">
              Please enter a valid e-mail address.</span
            >
          </div>

          <div class="form-group">
            <label for="password">Password:</label>
            <input
              class="form-control"
              type="password"
              id="password"
              name="password"
              ngModel
              required
              minlength="6"
              #password="ngModel"
            />
            <span
              *ngIf="password.invalid && password.touched"
              class="help-block"
              >Password must be at least six characters in length.</span
            >
          </div>
          <br />
          <div>
            <button
              class="btn btn-primary"
              id="submitButton"
              type="submit"
              [disabled]="authForm.invalid"
            >
              Log In
            </button>
          </div>
        </form>
      </div>
      <div class="loading-spinner-container" *ngIf="loading">
        <app-loading-spinner></app-loading-spinner>
      </div>
    </div>
    <div>
      <br />
      <p>
        {{ loginMode ? "New around here?" : "Already have an account?" }}
        <a
          class="link-primary"
          style="cursor: pointer"
          (click)="loginMode = !loginMode"
          >click here</a
        >
        {{ loginMode ? "to sign up!" : "to log in!" }}
      </p>
    </div>
  </div>
</div>
