<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-offset-3">
      <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
        <div class="form-group">
          <label for="email">Email:</label>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            ngModel
            required
            email
            placeholder="E-mail Address"
          />
        </div>

        <div class="form-group">
          <label for="password">Password:</label>
          <input
            class="form-control"
            type="password"
            id="password"
            name="password"
            ngModel
            required
            minlength="6"
          />
        </div>
        <br />
        <div>
          <button
            class="btn btn-primary"
            type="submit"
            [disabled]="authForm.invalid"
          >
            Log In
          </button>
        </div>
      </form>
      {{ authForm.valid }}
    </div>
  </div>
</div>
