<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <h2>Shop Paducah Coffee</h2>
    </div>
  </div>
  <hr />
  <div class="card-group">
    <app-product-item *ngFor="let productEl of products" [product]="productEl">
      <!-- move favorite button here
        bind id property to something with the index
        bind label property to be the same as id for each checkbox
        then they should work -->
      <a (click)="onAddToCart(productEl)" class="btn btn-primary"
        >Add to Cart</a
      ></app-product-item
    >
  </div>
</div>
