<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <h2>Shop Paducah Coffee</h2>
    </div>
  </div>
  <hr />
  <div class="card-group">
    <app-product-item *ngFor="let productEl of products" [product]="productEl">
        <label [for]="productEl.name" class="custom-checkbox">
          <input type="checkbox" [id]="productEl.name" [checked]="productEl.favorite"/>
          <i class="far fa-star"></i>
          <i class="fas fa-star"></i>
          <span class="favorite-text">Favorite</span>
        </label>
      <a (click)="onAddToCart(productEl)" class="btn btn-primary"
        >Add to Cart</a
      ></app-product-item
    >
  </div>
</div>
