.card {
  background-color: rgb(177, 207, 180);
  margin: 0.3rem;
  color: rgb(17, 17, 17) !important;
  border: none;
  box-shadow: 1px 5px 5px 3px rgba(43, 42, 43, 0.95);
  transition: 300ms ease-in-out;
  padding: 2%;
}

.card-text, .card-title {
  color: rgb(39, 39, 39) !important;
}

.card-title > strong {
  color: rgb(39, 39, 39) !important;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 1px 5px 5px 7px rgba(26, 25, 26, 0.95);
  background-color: rgb(203, 216, 205);
}
