<div class="img-container">
  <h1>Welcome to Paducah Coffee Company.</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-10">
      <p>
        We are western Kentucky's premier specialty coffee roasters. Since 2015,
        we have provided our clients with the finest coffees; imported from all
        over the world, and roasted right here in Paducah. By roasting only to
        order, and carefully selecting our green coffees for environmental
        impact and fair trade practices, we are doing our part to make both
        Paducah and the world a better place each day. Start your morning with a
        cup (or a whole pot) of caffeinated excellence from your friendly
        neighborhood coffee roasters.
      </p>
      <div class="button-container">
        <button class="btn call-to-action" (click)="onShopNav()">
          Shop Now!
        </button>
      </div>
      <hr />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi saepe
        dicta cumque soluta, officiis corporis, laudantium nesciunt recusandae
        necessitatibus, modi ipsum ratione optio libero aut quod dolorem ullam
        dolore. Nobis aliquam eum magni quo rerum minima tenetur praesentium
        illo voluptatum, laudantium culpa qui est eaque nesciunt neque, ab
        quidem aliquid?
      </p>
    </div>
  </div>
</div>
