<div class="img-container">
  <h1>Welcome to Paducah Coffee Company.</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-10">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos aspernatur
        illum facilis tempore laborum porro optio. Atque cumque quia, sit
        reprehenderit nisi voluptatum quasi ex veniam distinctio praesentium
        corporis? Placeat eaque quia tempore qui aut, rerum eos fugit
        doloremque! Quo quia minus exercitationem blanditiis explicabo, hic
        facere eos totam pariatur! Qui excepturi asperiores culpa animi!
        Blanditiis soluta quia corrupti consequuntur ab molestiae autem.
        Accusantium nobis deserunt ab praesentium, fugit laborum exercitationem
        modi assumenda quibusdam officiis.
      </p>
      <hr />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi saepe
        dicta cumque soluta, officiis corporis, laudantium nesciunt recusandae
        necessitatibus, modi ipsum ratione optio libero aut quod dolorem ullam
        dolore. Nobis aliquam eum magni quo rerum minima tenetur praesentium
        illo voluptatum, laudantium culpa qui est eaque nesciunt neque, ab
        quidem aliquid?
      </p>
    </div>
  </div>
</div>
