h1 {
  padding: 10%;
  font-size: 3.75rem;
  color: rgb(231, 231, 231);
}

.img-container {
  background-image: url(../../assets/coffee-beans-unsplash.jpg);
  background-size: cover;
  overflow: hidden;
  margin-top: 0;
  margin-bottom: 10%;
  margin-left: 30px;
  transform: scale(1.25);
  transition: 500ms ease-in-out;
}

.img-container:hover {
  margin-left: 5px;
  overflow: hidden;
}

.button-container {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.call-to-action {
  width: 18vw;
  cursor: pointer;
  transition: 600ms;
  color: #85b654;
  font-size: 2rem;
  background-color: rgb(29, 1, 1);
}

.call-to-action:hover{
  background-color:rgb(197, 183, 92);
  color: rgb(18, 19, 19);
  transform:scaleY(1.2);
}
